/*selector {
    propiedad: valor;
    propiedad2: valor;

}

selector: etiqueta   
          .clase  
          #id  
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color:rgb(1, 14, 79);
}


ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(142, 144, 228);
}

li {
    color: white;
}




h1 {
    /*text-align: center;           => Centra el título ppal en el eje x */
    text-decoration: underline;
    text-align: center;
    margin-top: 50px; 
}

p {
    color: black;
    text-align: center;
    padding: 50px;
    /*
    margin: 50px 100px;              => 1°margen sup e inf - 2° margen derecho e izq
    margin: 50px 100px 100px 80 px;  => 1°margen sup - 2° margen derecho - 3° margen inf - 4° margen izq
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    */
}

h3 {
    text-align: center;
}

.textoEnriquecido{
    font-size: 40px;
    font-style: italic;
    color: red;
}


.imagenEquipo{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

footer {
    background-color:rgb(1, 14, 79);   
}

