/*selector {
    propiedad: valor;
    propiedad2: valor;

}

selector: etiqueta   
          .clase  
          #id  
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cabecera{
    display: flex; /*flex-direction: row;  por default*/
    justify-content: space-between;
    align-items: center;
}

.listaNavegacion{
    display: flex;
    width: 500px;
    justify-content: space-between;
}


header {
    background-color:rgb(1, 14, 79);
}

.logo {
    height: 120px;
    width: 120px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(142, 144, 228);
}

li {
    color: white;
    padding: 10px;
}

.cabecera {
    display: flex;
}

.listaCabecera {
    display: flex;
    justify-content: space-evenly; /*space-evenly space-around*/
}

.seccionPricipal{
    background-image: url(./imagenes/escudo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;           /* => Centra el título ppal en el eje x */
    padding-top: 50px;
}

.textoPrincipal {
    color: black;
    text-align: center;
    padding: 50px 150px;
    font-size: 18px;
    /*
    margin: 50px 100px;              => 1°margen sup e inf - 2° margen derecho e izq
    margin: 50px 100px 100px 80 px;  => 1°margen sup - 2° margen derecho - 3° margen inf - 4° margen izq
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    */
}

.centrado{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.videoPrincipal{
    width: 50%;
    text-align: center;
}

h3 {
    text-align: center;
}

.textoEnriquecido{
    font-size: 40px;
    font-style: italic;
    color: red;
}

.imagenDescripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.descripcion{
    font-size: 14px;
    padding: 20px;
}

.imagenEquipo{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

footer {
    background-color:rgb(1, 14, 79);  
}

.descripcionFooter{
    font-size: 12px;
    color: white;
    padding: 0;
}

.piePagina{
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-top: 20px;
}

.escudoFooter{
    
}

.piePagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





